<header class="standaard-header">
    <nav class="standaard-nav">
    <ul>
    <li class="nav-links"> 
    <a href="/views/index.liquid">
    <img src="/assets/logo.png" alt="">
    </a>
    </li>

        <li>
            <ul class="nav-rechts">
                <li class="nav-item">
                    <details class="nav-details">
                        <summary class="nav-summary">Projecten</summary>
                        <ul class="dropdown">
                            <li class="dropdown-item"><a href="/">Stekjes</a></li>
                            <li class="dropdown-item"><a href="#">Zaden</a></li>
                            <li class="dropdown-item"><a href="#">Geveltuin</a></li>
                            <li class="dropdown-item"><a href="#">Groenebieb</a></li>
                        </ul>
                    </details>
                </li>

                <li><a href="#">Agenda</a></li>
                <li><a href="#">Partners</a></li>
                <li><a href="#">Over</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </li>
    </ul>
    </nav>
   
